@using Chilicki.Commline.UserInterface.Resources
@using Chilicki.Commline.Application.DTOs
@using Chilicki.Commline.Domain.Enums.Extensions
@using Chilicki.Commline.Domain.Enums


@model LineDeparturesDTO

@{
    ViewBag.Title = BaseResources.Departures;
    Layout = "~/Views/Shared/_Layout.cshtml";
    int departureRunIndex = 0;
    int alreadyAddedDepartureRuns = Model.Departures.Count() + 1;

    int returnDepartureRunIndex = 0;
    int returnAlreadyAddedDepartureRuns = Model.ReturnDepartures != null ? Model.ReturnDepartures.Count() : 0 + 1;

    int copyTimesOption1 = 15;
    int copyTimesOption2 = 30;
    int copyTimesOption3 = 60;
}

<link rel="stylesheet" href="~/Styles/main.css" />
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.10/css/ripples.min.css" />
<link rel="stylesheet" href="~/Content/bootstrap-material-datetimepicker.css" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div style="margin-left: 50px; margin-right: 50px">
    <h2>@EditorResources.DeparturesFor @Model.Line.LineType.GetDescription().ToLowerInvariant() @Model.Line.Name</h2>

    <table id="departureTable" class="table table-bordered table-condensed table-striped table-responsive table-hover" style="width: auto">
        <thead>
            <tr id="row-time-@departureRunIndex">
                @foreach (var stop in Model.Line.Stops)
                {
                    <th width="auto">@stop.Name</th>
                }
                <th width="auto">@BaseResources.Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var departureRun in Model.Departures)
            {
                int tempDepartureIndex = 0;
                <tr id="row-time-@departureRunIndex">
                    @foreach (var departure in departureRun)
                    {
                        <td><input id="time-@departureRunIndex-@tempDepartureIndex" class="timepicker form-control" value="@departure.DepartureTime" style="width: 62px" /></td>
                        tempDepartureIndex++;
                    }
                        <td>
                            <button style="margin-top: 0" class="btn btn-default btn-md" onclick="removeDepartureRun(this, @departureRunIndex)"><i class="fa fa-trash"></i></button>
                            @if (departureRunIndex != 0)
                            {
                                <button style="margin-top: 0" class="btn btn-default btn-md" onclick="copyDepartureRun(@departureRunIndex, @copyTimesOption1)"><i class="fa fa-copy"></i> @copyTimesOption1</button>
                                <button style="margin-top: 0" class="btn btn-default btn-md" onclick="copyDepartureRun(@departureRunIndex, @copyTimesOption2)"><i class="fa fa-copy"></i> @copyTimesOption2</button>
                                <button style="margin-top: 0" class="btn btn-default btn-md" onclick="copyDepartureRun(@departureRunIndex, @copyTimesOption3)"><i class="fa fa-copy"></i> @copyTimesOption3</button>
                            }
                        </td>
                </tr>
                departureRunIndex++;
            }
            <tr id="row-time-@departureRunIndex">
                @for (int stopIndex = 0; stopIndex < Model.Line.Stops.Count(); stopIndex++)
                {
                    <td><input id="time-@departureRunIndex-@stopIndex" class="timepicker form-control" style="width: 62px" /></td>
                }
                <td>
                    <button style="margin-top: 0" class="btn btn-default btn-md" onclick="removeDepartureRun(this, @departureRunIndex)"><i class="fa fa-trash"></i></button>
                    @if (departureRunIndex != 0)
                    {
                        <button style="margin-top: 0" class="btn btn-default btn-md" onclick="copyDepartureRun(@departureRunIndex, @copyTimesOption1)"><i class="fa fa-copy"></i> @copyTimesOption1</button>
                        <button style="margin-top: 0" class="btn btn-default btn-md" onclick="copyDepartureRun(@departureRunIndex, @copyTimesOption2)"><i class="fa fa-copy"></i> @copyTimesOption2</button>
                        <button style="margin-top: 0" class="btn btn-default btn-md" onclick="copyDepartureRun(@departureRunIndex, @copyTimesOption3)"><i class="fa fa-copy"></i> @copyTimesOption3</button>
                    }
                </td>
                @{departureRunIndex++;}
            </tr>
            @for (; departureRunIndex < alreadyAddedDepartureRuns + 50; departureRunIndex++)
            {
                <tr id="row-time-@departureRunIndex" hidden>
                    @for (int stopIndex = 0; stopIndex < Model.Line.Stops.Count(); stopIndex++)
                    {
                        <td><input id="time-@departureRunIndex-@stopIndex" class="timepicker form-control" style="width: 62px" /></td>
                    }
                    <td>
                        <button style="margin-top: 0" class="btn btn-default btn-md" onclick="removeDepartureRun(this, @departureRunIndex)"><i class="fa fa-trash"></i></button>
                        <button style="margin-top: 0" class="btn btn-default btn-md" onclick="copyDepartureRun(@departureRunIndex, @copyTimesOption1)"><i class="fa fa-copy"></i> @copyTimesOption1</button>
                        <button style="margin-top: 0" class="btn btn-default btn-md" onclick="copyDepartureRun(@departureRunIndex, @copyTimesOption2)"><i class="fa fa-copy"></i> @copyTimesOption2</button>
                        <button style="margin-top: 0" class="btn btn-default btn-md" onclick="copyDepartureRun(@departureRunIndex, @copyTimesOption3)"><i class="fa fa-copy"></i> @copyTimesOption3</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <button type="button" class="btn btn-default" onclick="addNewDepartureRun()">
        @EditorResources.AddNextDepartureRun
    </button>

    @if (Model.ReturnLine != null)
    {
        <p></p>
        <table id="returnDepartureTable" class="table table-bordered table-condensed table-striped table-responsive table-hover" style="width: auto">
            <thead>
                <tr id="return-row-time-@returnDepartureRunIndex">
                    @foreach (var stop in Model.ReturnLine.Stops)
                    {
                        <th width="auto">@stop.Name</th>
                    }
                    <th width="auto">@BaseResources.Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var departureRun in Model.ReturnDepartures)
                {
                    int tempDepartureIndex = 0;
                    <tr id="return-row-time-@returnDepartureRunIndex">
                        @foreach (var departure in departureRun)
                        {
                            <td><input id="return-time-@returnDepartureRunIndex-@tempDepartureIndex" class="timepicker form-control" value="@departure.DepartureTime" style="width: 62px" /></td>
                            tempDepartureIndex++;
                        }
                        <td>
                            <button style="margin-top: 0" class="btn btn-default btn-md" onclick="removeReturnDepartureRun(this, @returnDepartureRunIndex)"><i class="fa fa-trash"></i></button>
                            @if (returnDepartureRunIndex != 0)
                            {
                                <button style="margin-top: 0" class="btn btn-default btn-md" onclick="copyReturnDepartureRun(@returnDepartureRunIndex, @copyTimesOption1)"><i class="fa fa-copy"></i> @copyTimesOption1</button>
                                <button style="margin-top: 0" class="btn btn-default btn-md" onclick="copyReturnDepartureRun(@returnDepartureRunIndex, @copyTimesOption2)"><i class="fa fa-copy"></i> @copyTimesOption2</button>
                                <button style="margin-top: 0" class="btn btn-default btn-md" onclick="copyReturnDepartureRun(@returnDepartureRunIndex, @copyTimesOption3)"><i class="fa fa-copy"></i> @copyTimesOption3</button>
                            }
                        </td>
                    </tr>
                    returnDepartureRunIndex++;
                }
                <tr id="return-row-time-@returnDepartureRunIndex">
                    @for (int stopIndex = 0; stopIndex < Model.ReturnLine.Stops.Count(); stopIndex++)
                    {
                        <td><input id="return-time-@returnDepartureRunIndex-@stopIndex" class="timepicker form-control" style="width: 62px" /></td>
                    }
                    <td>
                        <button style="margin-top: 0" class="btn btn-default btn-md" onclick="removeReturnDepartureRun(this, @returnDepartureRunIndex)"><i class="fa fa-trash"></i></button>
                        @if (returnDepartureRunIndex != 0)
                        {
                            <button style="margin-top: 0" class="btn btn-default btn-md" onclick="copyReturnDepartureRun(@returnDepartureRunIndex, @copyTimesOption1)"><i class="fa fa-copy"></i> @copyTimesOption1</button>
                            <button style="margin-top: 0" class="btn btn-default btn-md" onclick="copyReturnDepartureRun(@returnDepartureRunIndex, @copyTimesOption2)"><i class="fa fa-copy"></i> @copyTimesOption2</button>
                            <button style="margin-top: 0" class="btn btn-default btn-md" onclick="copyReturnDepartureRun(@returnDepartureRunIndex, @copyTimesOption3)"><i class="fa fa-copy"></i> @copyTimesOption3</button>
                        }
                    </td>
                    @{returnDepartureRunIndex++;}
                </tr>
                @for (; returnDepartureRunIndex < returnAlreadyAddedDepartureRuns + 50; returnDepartureRunIndex++)
                {
                <tr id="return-row-time-@returnDepartureRunIndex" hidden>
                    @for (int stopIndex = 0; stopIndex < Model.ReturnLine.Stops.Count(); stopIndex++)
                    {
                        <td><input id="return-time-@returnDepartureRunIndex-@stopIndex" class="timepicker form-control" style="width: 62px" /></td>
                    }
                        <td>
                            <button style="margin-top: 0" class="btn btn-default btn-md" onclick="removeReturnDepartureRun(this, @returnDepartureRunIndex)"><i class="fa fa-trash"></i></button>
                            <button style="margin-top: 0" class="btn btn-default btn-md" onclick="copyReturnDepartureRun(@returnDepartureRunIndex, @copyTimesOption1)"><i class="fa fa-copy"></i> @copyTimesOption1</button>
                            <button style="margin-top: 0" class="btn btn-default btn-md" onclick="copyReturnDepartureRun(@returnDepartureRunIndex, @copyTimesOption2)"><i class="fa fa-copy"></i> @copyTimesOption2</button>
                            <button style="margin-top: 0" class="btn btn-default btn-md" onclick="copyReturnDepartureRun(@returnDepartureRunIndex, @copyTimesOption3)"><i class="fa fa-copy"></i> @copyTimesOption3</button>
                        </td>
                </tr>
                }
            </tbody>
        </table>
        <button type="button" class="btn btn-default" onclick="addNewReturnDepartureRun()">
            @EditorResources.AddNextReturnDepartureRun
        </button>
    }
</div>

@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.10/js/ripples.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.10/js/material.min.js"></script>
    <script type="text/javascript" src="http://momentjs.com/downloads/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-material-datetimepicker.js"></script>
    <script type="text/javascript" src="http://malsup.github.io/jquery.blockUI.js"></script>

    <script type="text/javascript">
        blockInterface();
        var lineDepartures = JSON.parse('@Html.Raw(ViewData["LineDepartures"])');

        var departureRunList = [];
        var departureRunIdToNextUnhidden = @Model.Departures.Count() + 1;

        var returnDepartureRunList = [];
        var returnDepartureRunIdToNextUnhidden = @(Model.ReturnLine != null ? Model.ReturnDepartures.Count() : 0) + 1;

        $(document).ready(function () {
            $(document).ajaxStart(blockInterface).ajaxStop($.unblockUI);           
            $("#toolboxButton").hide();
            $("#saveModification").click(saveModification);
            $("#searchButton").hide();
            departureRunList = initializeDepartureRunList(departureRunList, @Model.Departures.Count() + 1);
            returnDepartureRunList = initializeDepartureRunList(returnDepartureRunList, @(Model.ReturnLine != null ? Model.ReturnDepartures.Count() : 0) + 1);
            $.unblockUI();
        });

        function initializeDepartureRunList(runList, count) {
            for (var i = 0; i < count; i++) {
                runList.push(i);
            }
            return runList;
        }

        $('.timepicker').bootstrapMaterialDatePicker({
            date: false,
            shortTime: false,
            format: 'HH:mm',
            cancelText: '@TimepickerResources.Cancel',
            clearButton: true,
            clearText: '@TimepickerResources.Clear',
        });

        function saveModification() {
            var times = collectDeparturesData();
            var returnTimes = collectReturnDeparturesData();
            sendDepartures(times, returnTimes);
        }

        function addNewDepartureRun() {
            $('#row-time-' + departureRunIdToNextUnhidden).show();
            departureRunList.push(departureRunIdToNextUnhidden);
            departureRunIdToNextUnhidden++;
        }

        function removeDepartureRun(row, rowId) {
            $(row).parent().parent().remove();
            departureRunList = departureRunList.filter(e => e !== rowId);
        }

        function addNewReturnDepartureRun() {
            $('#return-row-time-' + returnDepartureRunIdToNextUnhidden).show();
            returnDepartureRunList.push(returnDepartureRunIdToNextUnhidden);
            returnDepartureRunIdToNextUnhidden++;
        }

        function removeReturnDepartureRun(row, rowId) {
            $(row).parent().parent().remove();
            returnDepartureRunList = returnDepartureRunList.filter(e => e !== rowId);
        }

        function copyDepartureRun(rowId, minutesDifference) {
            var previousRowIndex = departureRunList.indexOf(rowId) - 1;
            var previousRowId = departureRunList[previousRowIndex];
            for (var currentStopIndex = 0; currentStopIndex < @Model.Line.Stops.Count(); currentStopIndex++) {
                var copiedTime = $("#time-" + previousRowId + "-" + currentStopIndex).val();
                if (copiedTime !== '') {
                    var increasedTime = moment(copiedTime, 'HH:mm:ss').add(minutesDifference, 'minutes').format('HH:mm');
                    $("#time-" + rowId + "-" + currentStopIndex).val(increasedTime);
                }               
            }
        }

        function copyReturnDepartureRun(rowId, minutesDifference) {
            var previousRowIndex = returnDepartureRunList.indexOf(rowId) - 1;
            var previousRowId = returnDepartureRunList[previousRowIndex];
            for (var currentStopIndex = 0; currentStopIndex < @Model.Line.Stops.Count(); currentStopIndex++) {
                var copiedTime = $("#return-time-" + previousRowId + "-" + currentStopIndex).val();
                if (copiedTime !== '') {
                    var increasedTime = moment(copiedTime, 'HH:mm:ss').add(minutesDifference, 'minutes').format('HH:mm');
                    $("#return-time-" + rowId + "-" + currentStopIndex).val(increasedTime);
                }               
            }
        }

        function collectDeparturesData() {
            var times = [];
            $.each(departureRunList, function (index, currentRunIndex) {
                var rowTimes = [];
                for (var currentStopIndex = 0; currentStopIndex < @Model.Line.Stops.Count(); currentStopIndex++) {
                    rowTimes.push({
                        'DepartureTime': $("#time-" + currentRunIndex + "-" + currentStopIndex).val(),
                        'DayType': @((int)(DayType.Workday)) // TODO This should be editable
                    });
                }
                times.push(rowTimes);
            });
            return times;
        }

        function collectReturnDeparturesData() {
            var returnTimes = [];
            $.each(returnDepartureRunList, function (index, currentRunIndex) {
                var rowTimes = [];
                for (var currentStopIndex = 0; currentStopIndex < @(Model.ReturnLine != null ? Model.ReturnLine.Stops.Count() : 0); currentStopIndex++) {
                    rowTimes.push({
                        'DepartureTime': $("#return-time-" + currentRunIndex + "-" + currentStopIndex).val(),
                        'DayType': @((int)(DayType.Workday)) // TODO This should be editable
                    });
                }
                returnTimes.push(rowTimes);
            });
            return returnTimes;
        }

        function sendDepartures(times, returnTimes) {
            var sendData = {
                'lineDepartures': {
                    'Line': lineDepartures.Line,
                    'Departures': times,
                    'ReturnLine': lineDepartures.ReturnLine,
                    'ReturnDepartures': returnTimes
                }
            };
            $.post("SaveDepartures",
                sendData,
                function (data, status) {
                    if (data.success !== undefined) {
                        location.reload();
                    }
                    else if (data.error !== undefined) {
                        alert('@BaseResources.ErrorOccured: ' + data.error);
                    }                        
                });
        }

        function blockInterface() {
            $.blockUI({ message: '<h4><img src="/Content/loading.gif"> @BaseResources.Loading</h4>' });
        }
    </script>
}
