@using Chilicki.Commline.UserInterface.Resources
@using Chilicki.Commline.Application.DTOs
@using Chilicki.Commline.Domain.Enums.Extensions

@model LineDeparturesDTO

@{ 
    ViewBag.Title = BaseResources.Departures;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Styles/main.css"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.10/css/bootstrap-material-design.min.css" />
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.10/css/ripples.min.css" />
<link rel="stylesheet" href="~/Content/bootstrap-material-datetimepicker.css" />
<link href='http://fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div style="width: initial">
    <h2>@EditorResources.DeparturesFor @Model.Line.LineType.NameOf().ToLowerInvariant() @Model.Line.Name</h2>

    <table id="departureTable" class="table table-bordered table-condensed table-striped table-responsive table-hover">
        <thead>
            <tr>
                @foreach (var stop in Model.Line.Stops)
                {
                    <th>@stop.Name</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var departureRun in Model.Departures)
            {
                <tr>
                    @foreach (var departure in departureRun)
                    {
                        <td>
                            <input id="time" class="timepicker" value="@departure.DepartureTime" />

                        </td>
                    }
                </tr>
            }
            <tr>
            @foreach (var stop in Model.Line.Stops)
            {
                <td><input id="time" class="timepicker" /></td>
            }
            </tr>
            @for (int i = 0; i < 100; i++)
            {
                <tr id="row-time-@i" hidden>
                    @foreach (var stop in Model.Line.Stops)
                    {
                        <td><input id="time" class="timepicker" /></td>
                    }
                </tr>
            }
            </tbody>
        </table>
    <button type="button" class="btn btn-default" onclick="addNewDepartureRun()">
        @EditorResources.AddNextDepartureRun
    </button>
</div>

<section class="scripts">
    <script src="https://code.jquery.com/jquery-1.12.3.min.js" integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.10/js/ripples.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.10/js/material.min.js"></script>
    <script type="text/javascript" src="http://momentjs.com/downloads/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-material-datetimepicker.js"></script>

    <script type="text/javascript">
        var currentHiddenDepartureRunRowIndex = 0;

        $(document).ready(function () {
            $("#toolboxButton").hide();
        });

        $('.timepicker').bootstrapMaterialDatePicker({
            date: false,
            shortTime: false,
            format: 'HH:mm',
        });                

        function addNewDepartureRun() {
            $('#row-time-' + currentHiddenDepartureRunRowIndex).show();
            currentHiddenDepartureRunRowIndex++;
        }
    </script>
</section>
