@using Chilicki.Commline.UserInterface.Resources
@using Chilicki.Commline.Domain.Enums
@using Chilicki.Commline.UserInterface.HtmlExtensions
@using Chilicki.Commline.Application.Enums

@{
    var lineRouteTypes = new List<SelectListItem> {
        new SelectListItem { Text = BaseResources.OneWay, Value = "false", Selected = true },
        new SelectListItem { Text = BaseResources.Circular, Value = "true" }
    };

    LineType dropdownSelectedLineType = LineType.Bus;
    StopType dropdownStopType = StopType.Bus;
}

<div>
    @Html.Partial("~/Views/Shared/_Map.cshtml",
        new ViewDataDictionary { { "viewName", BaseResources.Editor } })
</div>

<div id="toolboxSidenav" class="sidenav-toolbox">
    <abbr title="@EditorResources.CreateStopToolDescription">
        <a id="createStopButton" class="toolbox-tool-button" onclick="setCurrentTool(this, '@EditorToolType.CreateStop')">@EditorResources.CreateStopTool</a>
    </abbr>
    <abbr title="@EditorResources.EditStopToolDescription">
        <a id="editStopButton" class="toolbox-tool-button" onclick="setCurrentTool(this, '@EditorToolType.EditStop')">@EditorResources.EditStopTool</a>
    </abbr>
    <abbr title="@EditorResources.RemoveStopToolDescription">
        <a id="removeStopButton" class="toolbox-tool-button" onclick="setCurrentTool(this, '@EditorToolType.RemoveStop')">@EditorResources.RemoveStopTool</a>
    </abbr>
    <abbr title="@EditorResources.CreateLineToolDescription">
        <a id="createLineButton" class="toolbox-tool-button" onclick="setCurrentTool(this, '@EditorToolType.CreateLine')">@EditorResources.CreateLineTool</a>
    </abbr>
    <abbr title="@EditorResources.EditLineToolDescription">
        <a id="editLineButton" class="toolbox-tool-button" onclick="setCurrentTool(this, '@EditorToolType.EditLine')">@EditorResources.EditLineTool</a>
    </abbr>
    <abbr title="@EditorResources.RemoveLineToolDescription">
        <a id="removeLineButton" class="toolbox-tool-button" onclick="setCurrentTool(this, '@EditorToolType.RemoveLine')">@EditorResources.RemoveLineTool</a>
    </abbr>
</div>

<div id="newStopModal" class="modal fade primary-element" role="dialog">
    <div class="modal-dialog">
        <form id="newStopForm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">@EditorResources.GiveStopDetails</h4>
                </div>
                <div class="modal-body">
                    <p>
                        <label for="modalStopName">@EditorResources.StopName</label>
                        <input id="modalStopName" type="text" class="form-control"/>
                    </p>
                    <p>
                        <label for="modalStopType">@EditorResources.StopType</label>
                        @Html.DropDownList("modalStopType", dropdownStopType.ToSelectList(), new { @class = "form-control" })
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" data-dismiss="modal"
                            onclick="addStopToAddedContainer()">
                        @BaseResources.Save
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        @BaseResources.Cancel
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div id="editStopModal" class="modal fade primary-element" role="dialog">
    <div class="modal-dialog">
        <form id="editStopForm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">@EditorResources.EditStopDetails</h4>
                </div>
                <div class="modal-body">
                    <p>
                        <label for="editModalStopName">@EditorResources.StopName</label>
                        <input id="editModalStopName" type="text" class="form-control" />
                    </p>
                    <p>
                        <label for="editModalStopType">@EditorResources.StopType</label>
                        @Html.DropDownList("editModalStopType", dropdownStopType.ToSelectList(), new { @class = "form-control" })
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" data-dismiss="modal"
                            onclick="addStopToEditedContainer()">
                        @BaseResources.Save
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        @BaseResources.Cancel
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div id="removeStopModal" class="modal fade primary-element" role="dialog">
    <div class="modal-dialog">
        <form id="removeStopForm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">@EditorResources.AreYouSureRemoveStop</h4>
                </div>
                <div class="modal-body" hidden></div>
                <div class="modal-footer">                    
                    <button type="submit" class="btn btn-primary" data-dismiss="modal"
                            onclick="removeStopAndAddToRemovedContainer()">
                        @BaseResources.Affirm
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        @BaseResources.Cancel
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div id="newLineModal" class="modal fade primary-element" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@EditorResources.NewLineCreation</h4>
            </div>
            <div class="modal-body">
                <p>
                    <label for="modalLineName">@EditorResources.LineName</label>
                    <input id="modalLineName" type="text" class="form-control"/>
                </p>
                <p>
                    <label for="modalLineType">@EditorResources.LineType</label>
                    @Html.DropDownList("modalLineType", dropdownSelectedLineType.ToSelectList(), new { @class = "form-control" })
                </p>
                <p>
                    <label for="modalLineColor">@EditorResources.LineColor</label>
                    <input id="modalLineColor" type="color" class="form-control"/>
                </p>
                <p>
                    <label for="modalLineRouteType">@EditorResources.LineRouteType</label>
                    @Html.DropDownList("modalLineRouteType", new SelectList(lineRouteTypes, "Value", "Text"), new { @class = "form-control" })
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                        onclick="addLineToContainer()">
                    @BaseResources.Save
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal"
                        onclick="cancelNewLineCreation()">
                    @BaseResources.Cancel
                </button>
            </div>
        </div>
    </div>
</div>

<script>

    var toolboxOpened = false;

    var editedStops = { 'Added': [], 'Modified': [], 'Removed': [] };
    var editedLines = { 'Added': [], 'Modified': [], 'Removed': [] };
    var currentEditedLine = {};

    var lastCoordinates;
    var lastEditedStopMarker;

    $(document).ready(function () {
        $("#toolboxButton").show();
        $("#toolboxButton").click(switchToolboxSidenav);
        $("#saveModification").show();
        $("#saveModification").click(saveEverything);
        $("#searchButton").hide();
        switchToolboxSidenav();
        if (currentView === '@CommlineViewType.Search')
            loadAllStops();
        else 
            loadAllLines();
    });

    function saveEverything() {
        saveStops();
        saveLines();
    }

    function saveStops() {
        var sendData = { 'stopsEditionModel': editedStops };
        $.post("Editor/SaveStops",
            sendData,
            function (data, status) {   
                if (data.success !== undefined) {
                    editedStops = { 'Added': [], 'Modified': [], 'Removed': [] };
                }
                else if (data.error !== undefined) {
                    alert('@BaseResources.ErrorOccured: ' + data.error);
                }    
            });
    }

    function saveLines() {
        var sendData = { 'linesEditionModel': editedLines };
        $.post("Editor/SaveLines",
            sendData,
            function (data, status) {   
                if (data.success !== undefined) {
                    editedLines = { 'Added': [], 'Modified': [], 'Removed': [] };
                    location.reload();
                }
                else if (data.error !== undefined) {
                    alert('@BaseResources.ErrorOccured: ' + data.error);
                }                   
            });
    }

    function onMapClick(coordinates) {
        if (currentTool == '@EditorToolType.CreateStop') {
            addStopAction(coordinates);                       
        }
    }

    function addStopToLine(marker) {
        var sendData = { 'id': marker.id };
        $.post("Editor/GetStop",
            sendData,
            function (data, status) {
                currentEditedLine.Stops.push(data);
            });
    }

    function addLineToContainer() {
        var newLine = {
            'Name': $("#modalLineName").val(),
            'LineType': $("#modalLineType").val(),
            'Stops': [],
            'Color': $("#modalLineColor").val(),
            'IsCircular': $("#modalLineRouteType").val(),            
        };
        allLines.Lines.push(newLine);
        editedLines.Added.push(newLine);
        currentEditedLine = newLine;
        $("#modalLineName").val('');
        $("#modalLineNumber").val('');
    }

    function cancelNewLineCreation() {
        currentEditedLine = {};
        setCurrentTool("#createLineButton", '@EditorToolType.None');
    }

    function addStopToAddedContainer() {
        var newStop = {
            'Name': $("#modalStopName").val(),
            'StopType': $("#modalStopType").val(),
            'Longitude': lastCoordinates.lng(),
            'Latitude': lastCoordinates.lat(),
        };
        drawMarker(MAP, '', $("#modalStopName").val(), lastCoordinates, $("#modalStopType").val());
        allLines.StopsWithoutLines.push(newStop);
        editedStops.Added.push(newStop);
        $("#modalStopName").val('');
    }

    function addStopToEditedContainer() {
        var editedStop = {
            'Id': lastEditedStopMarker.id,
            'Name': $("#editModalStopName").val(),
            'StopType': $("#editModalStopType").val(),
            'Longitude': lastEditedStopMarker.position.lng(),
            'Latitude': lastEditedStopMarker.position.lat(),
        };
        editedStops.Modified.push(editedStop);
        $("#editModalStopName").val('');
    }

    function removeStopAndAddToRemovedContainer() {
        var removedStop = {
            'Id': lastEditedStopMarker.id,
        };
        lastEditedStopMarker.setMap(null);
        removeStopFromAllContainers(lastEditedStopMarker.id, lastEditedStopMarker.position)
        if (removedStop.Id !== "") {
            editedStops.Removed.push(removedStop);
        }        
    }

    function removeStopFromAllContainers(stopId, coordinates) {
        editedStops.Added = editedStops.Added.filter(function (stop) {
            return stop.Latitude != coordinates.lat() && stop.Longitude != coordinates.lng();
        });
        editedStops.Modified = editedStops.Modified.filter(function (stop) {
            return stop.Id != stopId;
        });
        editedStops.Removed = editedStops.Removed.filter(function (stop) {
            return stop.Id != stopId;
        });
    }

    function addStopAction(coordinates) {
        lastCoordinates = coordinates;
        $("#newStopModal").modal({ backdrop: "static" }); 
    }

    function editStopAction(marker) {
        lastEditedStopMarker = marker;
        $("#editModalStopName").val(marker.title);
        $("#editModalStopType").val(marker.stopType);
        $("#editStopModal").modal({ backdrop: "static" }); 
    }

    function removeStopAction(marker) {
        lastEditedStopMarker = marker;
        $("#removeStopModal").modal({ backdrop: "static" }); 
    }

    function setCurrentTool(toolButton, newTool) {
        $(".toolbox-tool-button").css('color', '#818181')
        if (newTool != '@EditorToolType.None' && currentTool != newTool) {
            currentTool = newTool;
            $(toolButton).css('color', '#ffffff');
        }
        else {
            currentTool = '@EditorToolType.None';
            currentEditedLine = {};
            $(toolButton).css('color', '#818181');
        }
        if (currentTool == '@EditorToolType.CreateLine') {
            $("#newLineModal").modal();
        }
    }

    function switchToolboxSidenav() {
        if (toolboxOpened == false) {
            document.getElementById("toolboxSidenav").style.width = "250px";
            toolboxOpened = true;
        }
        else {
            document.getElementById("toolboxSidenav").style.width = "0";
            toolboxOpened = false;
        }
    }
</script>