@using Chilicki.Commline.UserInterface.Resources

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Commline</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Styles/shared.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Styles/main.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Styles/sidenav.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Styles/modal-window.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Styles/map.css")" />
    <link rel="stylesheet" type="text/css" href="~/Content/jquery-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/jquery-ui-timepicker-addon.css" />


    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("Styles", false)    
</head>

<body class="w3-light-grey">
    <div class="w3-bar w3-top w3-large w3-indigo" style="z-index:4">
        <span class="w3-bar-item w3-center">@BaseResources.AppName</span>
        <button class="w3-bar-item w3-button w3-hover-none w3-hover-text-light-grey" onclick="switchMainMenuSidenav()"><i class="fa fa-bars"></i>  @BaseResources.Menu</button>
        <button id="toolboxButton" class="w3-bar-item w3-button w3-right w3-hover-none w3-hover-text-light-grey" hidden><i class="fa fa-bars"></i>  @BaseResources.Toolbox</button>
        <button id="saveModification" class="w3-bar-item w3-button w3-right w3-hover-none w3-hover-text-light-grey" hidden><i class="fa fa-save"></i>  @BaseResources.Save</button>
        <button id="searchButton" class="w3-bar-item w3-button w3-right w3-hover-none w3-hover-text-light-grey" hidden><i class="fa fa-search"></i>  @BaseResources.SearchAsAction</button>
    </div>

    <div id="mainMenuSidenav" class="sidenav primary-element">
        @Html.ActionLink(BaseResources.HomePage, "Index", "Home")
        @Html.ActionLink(BaseResources.Editor, "Index", "Editor")
        <a href="#" onclick='$("#enterDeparturesModal").modal();'>@BaseResources.Departures</a>
        @Html.ActionLink(BaseResources.Search, "Index", "Search")
    </div>

    <div id="enterDeparturesModal" class="modal fade primary-element" role="dialog">
        <div class="modal-dialog">            
            @using (Html.BeginForm("Departures", "Editor", FormMethod.Get))
            {
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">@EditorResources.GiveLine</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            <label>@EditorResources.LineName</label>
                            @Html.DropDownList("lineId", new SelectList(ViewBag.LinesIdsNames, "Value", "Text"))
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">
                            @BaseResources.Affirm
                        </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            @BaseResources.Cancel
                        </button>
                    </div>
                </div>
            }
        </div>
    </div>

    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        var sidenavOpened = false;

        function switchMainMenuSidenav() {
            if (sidenavOpened == false) {
                document.getElementById("mainMenuSidenav").style.width = "250px";
                sidenavOpened = true;
            }
            else {
                document.getElementById("mainMenuSidenav").style.width = "0";
                sidenavOpened = false;
            }
        }
    </script>
</body>
</html>
