@using Chilicki.Commline.UserInterface.Resources

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Commline</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    html, body, h1, h2, h3, h4, h5 {
        font-family: "Raleway", sans-serif

    }
    body {
        height: 100%;
        width: 100%;
    }
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
    margin-top: 40px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #ffffff;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    padding-top: 15px;
}

@@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>
<body class="w3-light-grey">
    <div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
        <button class="w3-bar-item w3-button w3-hover-none w3-hover-text-light-grey" onclick="openMainMenuSidenav();"><i class="fa fa-bars"></i>  @BaseResources.Menu</button>
        <span class="w3-bar-item w3-right">@BaseResources.AppName</span>
    </div>

    <div id="mainMenuSidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeMainMenuSidenav()">&times;</a>
        <a href="">@BaseResources.HomePage</a>
        <a href="">@BaseResources.Editor</a>
    </div>

    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        var sidenavOpened = false;

        function openMainMenuSidenav() {
            if (sidenavOpened == false) {
                document.getElementById("mainMenuSidenav").style.width = "250px";
                sidenavOpened = true;
            }
            else {
                closeMainMenuSidenav();
            }            
        }

        function closeMainMenuSidenav() {
            document.getElementById("mainMenuSidenav").style.width = "0";
            sidenavOpened = false;
        }
    </script>
</body>
</html>
